<div class="artist-box">
  <div class="artist-box-top">
    <img src="{{ include.imgsrc }} ">
    <div> 
      <span>{{ include.name }}</span>
      <p><a href="{{ include.link1url }}">✦ {{ include.link1text }} ✦</a></p>
      <p><a href="{{ include.link2url }}">✦ {{ include.link2text }} ✦</a></p>
    </div>
  </div>
  <iframe scrolling="no" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" src="{{ include.embed }}" frameborder="no" loading="lazy"></iframe>
</div>